html{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-size: 7mm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
   
image-resolution: inherit;
    padding: 60px;
    background-repeat: no-repeat;
    text-align: center;
    
      
    
    
    
}
head{
    background-attachment: blue;
    padding: 50px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 40px;
    object-position: center;
    
}
H1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: unset;



}
hr{
    border: 2px solid black;
    width:250px;
    margin-top: 5px;
    
}
body{
   
    border-color: rgb(58, 8, 151);
    box-shadow: 20px30px 0px;
    border: 20px 20px 20px 20px rgb(219, 35, 35);
    padding: 20px ;
    text-align: center;
    margin: 40px;
    object-position: center;
    padding: auto;
    
}
div{
    box-shadow: 10px 10px 20px blueviolet;
    box-decoration-break: clone;
    padding:50px;
    margin: 5px ;
    border-end-end-radius: 8px red;
    
}
{
    background-attachment: pink;
    padding: 40px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 40px;
    object-position: center;
    
}
head{
    background-attachment: blue;
    padding: 40px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 40px;
    object-position: center;
    
}
p a img{
  display: flex;
  border-radius: 20%;
  box-shadow: 10px 10px 10px rgb(202, 20, 90);
   transition-duration: 2s;
   transition-property: all;

   -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
{
    background-attachment: pink;
    padding: 40px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 40px;
    object-position: center;
    
}
p a img:hover{
    cursor: pointer;
  transform: rotate(45deg);

  border-radius: 0px;
  
}
h1 div img{
    display: inline-block;
    border-radius:15% ;
    box-shadow: 10px 10px 5px rgb(194, 46, 169);
}
	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
